- if current_user != nil
  - if current_user.id == @army.user_id
    %a{href: "#", class: "remove_attachment", data: {'armyid' => @army[:id],
      'attachment_id' => attachment.id,
      'type' => attachment.unit.unit_type_id,
      'factionid' => @army.faction_id}}> -

