%table><
  %tbody><

    - ['caster', 'unit', 'solo', 'battle engine'].each do |unit_type|
      %tr><
        %th><
          - if unit_type == 'caster'
            Battlegroups
          - else
            = unit_type.titlecase.pluralize
          %td.button><
        = render 'armies/list_buttons/button_group', level: 'header', unit_type: unit_type 
      = render('armies/list_table/roster_units_of_type', unit_type: unit_type)
    %tr.total-points><
      = render('armies/list_points')
