%a{href: "#", class: "btn btn-primary btn-small add", data: {'controller' => 'units',
                               'action' => 'list_available_models',
                               'army_id' => @army[:id],
                               'unit_type' => unit_type,
                               'faction_id' => @army[:faction_id]}}><
  %i{ class: 'icon-plus-sign-alt' }><
