%a{href: "#", class: "btn btn-small btn-primary list_attachables", data: {'armyid' => @army[:id],
  'armyunitid' => army_unit.id,
  'type' => army_unit.unit.unit_type_id,
  'factionid' => @army.faction_id}}><
  %i{ class: 'icon-plus-sign-alt' }>
