- if army_unit.max_unit
  %a{href: '#', class: 'btn btn-warning btn-mini min-max-toggle', data: {army_id: army_unit.army[:id], army_unit_id: army_unit[:id]}}>< 
    %i.icon-chevron-down><
- else
  %a{href: '#', class: 'btn btn-success btn-mini min-max-toggle', data: {army_id: army_unit.army[:id], army_unit_id: army_unit[:id]}}>< 
    %i.icon-chevron-up><
