%a{href: "#", class: "btn btn-warning btn-small remove_attachment", data: {'armyid' => @army[:id],
  'attachment_id' => attachment.id,
  'type' => attachment.child_army_unit.unit.unit_type_id,
  'factionid' => @army.faction_id}}><
  %i{ class: 'icon-minus-sign-alt' }>
