%li{ id: @parent_unit.id.to_s + '_available_attachments', class: 'available-models' }
  %ul{ class: 'list-container'}
    - @available_attachments.each do |unit|
      %li
        %span.model-name= unit[:name]
        %span.button-group
          %a{href: "#", class: "attach_unit btn btn-mini btn-success", data: {'unit_id' => unit[:id],
            'army_id' => @army.id,
            'parent_unit_id' => @parent_unit.id}}>
            %i{ class: 'icon-plus' }>
        %span.point-cost= unit[:point_cost]
        %span.field-allowance= unit[:field_allowance]
