%table>
  %tbody>
    %th>
    %th> Name
    %th> FA
    %th> Points

    - @available_attachments.each do |unit|
      %tr>
        %td>
          %a{href: "#", class: "attach_unit", data: {'attached_unit_id' => unit[:id],
            'army_id' => @army.id,
            'army_unit_id' => @parent_unit.id}}> +
        %td>= unit[:name]
        %td>= unit[:field_allowance]
        %td>= unit[:point_cost]
