- if current_user != nil
  - if current_user.id == @army.user_id
    %a{href: "#", class: "list_attachables", data: {'armyid' => @army[:id],
      'armyunitid' => army_unit.id,
      'type' => army_unit.unit.unit_type_id,
      'factionid' => @army.faction_id}}> +
