@import "mixins";

article {
  background-color: rgba(0,0,0,0.3);
  margin-bottom: 20px;
  padding: 0 10px 10px;
  color: white;
  header.article-header {
    @include box-sizing(border-box);
    background-image: none;
    background-color: transparent;
    padding: 6px 4px !important;
    margin-top: 8px;
    margin-left: 0;
    border: 0 none !important;
    h1, h2, h3, h4 {
      margin: 0;
      padding: 0;
    }
    .span2, .span4 {
      min-height: 1px;
    }
    h1 {
      font-size: 26px;
    }
    h2 {
      font-size: 20px;
      display: block;
      .edit {
        float: right;
      }
    }
    h3 {
      font-size: 20px;
      line-height: 26px;
    }
    h4 {
      font-size: 16px;
      line-height: 20px;
    }
  }
  .article-body {
    section#list {
      border: 1px solid #000;
    }
  }
  footer {
    border-top: 1px solid black;
  }
}

section.army-list {
  width: 100%;
  background: rgba(200,200,200,0.3);
  .button-group {
    float: right;
    width: 78px;
    text-align: right;
  }
  .point-cost {
    float: right;
    text-align: right;
    font-size: 14px;
    width: 64px;
  }
  .field-allowance {
    float: right;
    text-align: right;
    font-size: 14px;
    width: 44px;
  }
  a.btn-group {
    background-color: #222222;
    @include border-radius(4px);
    &:hover {
      text-decoration: 0;
    }
    .btn:last-child {
      margin-left: -3px;
    }
    .btn.disabled {
      @include opacity(100)
    }
    .btn-inverse {
      color: #999;
      &:hover {
        color: white;
      }
    }
  }
  h2 {
    font-size: 18px; 
    line-height: 35px;
    background-color: rgba(150, 150, 150, 0.3);
    border-bottom: 1px solid #444444;
    color: #cccccc;
    margin: 0;
    padding: 0 10px;
  }
  ul.unit-group {
    margin: 0;
    list-style: none;
    li {
      padding: 6px 10px;
      border-bottom: 1px solid #444444;
      &.available-models {
        background-color: rgba(0,0,0,.3);
        padding: 0;
        ul {
          margin: 0;
          list-style: none;
          li {
            margin: 0 0 0 14px;
            color: #777;
            &.available-models-header {
              margin: 0;
              font-weight: bold;
              color: #777
            }
          }
        }
      }
    }
  }


  tr {
    border-bottom: 1px solid rgba(50,50,50,0.8);
    &.total-points {
      border-top: 2px solid rgba(50,50,50,0.8);
    }
    th,
    td {
      padding: 5px;
      text-align: left;
    }
    a {
      color: #cccccc;
      &:hover {
        color: white;
      }
    }
    th {
      background: rgba(60,60,60,.3) !important;
      color: #aaaaaa;
      &.point-cost {
        color: white;
        border-left: 1px #555555 solid;
      }
    }
    td {
      color: white;
      &.point-cost,
      &.point-cost {
        text-align: right;
      }
      &.attachment {
        padding-left: 20px;
      }
    }
    .button {
      border-left: 1px #555555 solid;
      width: 20px;
    }
  }
}
.onoffswitch {
    position: relative; width: 72px; display: inline-block;
    vertical-align: middle;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    float: right;
    line-height: 25px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 0;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 22px; padding: 0; line-height: 22px;
    font-size: 13px; color: white;
    font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Max";
    padding-left: 10px;
    @include gradient-vertical(#0088cc, #0044cc);
    color: #FFFFFF;
}
.onoffswitch:hover .onoffswitch-inner:before {
    @include gradient-vertical(#0044cc, #0088cc);
}
.onoffswitch-inner:after {
    content: "Min";
    padding-right: 10px;
    @include gradient-vertical(#fbb450, #f89406);
    color: #FFFFFF;
    text-align: right;
}
.onoffswitch:hover .onoffswitch-inner:after {
    @include gradient-vertical(#f89406, #fbb450);
}
.onoffswitch-switch {
    width: 20px; 
    height: 20px;
    margin: 0;
    background: #DADADA;
    border: 2px solid #333333; border-radius: 4px;
    position: absolute; top: -1px; bottom: 0; right: 48px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
