.container
  .content
    %div.row-fluid.article_body
      %section.footer-blurb.span4
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US"><img class="license" alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png" /></a>
        %small.license
          <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/InteractiveResource" property="dct:title" rel="dct:type">Big Steam Robot</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.bigsteamrobot.com" property="cc:attributionName" rel="cc:attributionURL">Ingus Mat Burleson</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US">Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License</a>.
      %section.footer-blurb.span4
        %small Images originating from the Privateer Press website are © 2001—2013 Privateer Press, Inc. All Rights Reserved. WARMACHINE ®, HORDES, and their logos are trademarks of Privateer Press, Inc. Images and trademarks used without permission. This website is unofficial and is not endorsed by Privateer Press.
      %section.footer-blurb.span4
        = link_to "Feedback", "https://www.facebook.com/groups/216735981807666/", { class: "btn btn-inverse" }
        %p.github Help build the robot: #{link_to 'Fork the code at Github', 'https://github.com/ingusmat/big-steam-robot'}!
